/* galeria.css */
section {
    width: 600px;
    min-height: 300px;
    border: 2px solid #4a8506;
    margin: 60px auto;
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 6px;
}

.miniaturas img {
    width: 110px;
    border: 1px solid #4a8506;
    border-radius: 4px;
    padding: 2px;
    transition: transform 1s;
}

.miniaturas img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.miniaturas img.selecionado {
    border: 1px solid red;
}